@model Appel.SharpTemplate.API.Application.Models.UserRegisterViewModel;

@{
    ViewData["Title"] = "Reset Password";
}

<div class="col-md-4">
    <form asp-action="ResetPassword" method="post">
        @Html.Hidden("Id")
        @Html.Hidden("EmailHash")

        <div class="form-group">
            <label asp-for="Password" class="control-label">Password</label>
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            <div class="text-danger">
                <small>
                    @Html.ValidationMessageFor(m => m.Password)
                </small>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="PasswordConfirmation" class="control-label">Password Confirmation</label>
            @Html.PasswordFor(m => m.PasswordConfirmation, new { @class = "form-control" })
            <div class="text-danger">
                <small>
                    @Html.ValidationMessageFor(m => m.Password)
                </small>
            </div>
        </div>

        <div class="form-group">
            <input type="submit" value="Reset Password" class="btn btn-primary" />
        </div>
    </form>

    @if (ViewBag.Message != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.Message");
            };
        </script>
    }
</div>